<div class="background-decoration-1">
    <figure></figure>
    <figure></figure>
    <figure></figure>
</div>

<div class="background-decoration-2">
    <figure></figure>
    <figure></figure>
    <figure></figure>
</div>

<div class="background-decoration-3">
    <figure></figure>
    <figure></figure>
</div>