<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="generate">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <section id="type">
            <ul>
                <li>
                    <% data.forEach((type) => { %>
                        <li><%= type %></li>
                <% }); %>
            </li>
            </ul>
        </section>

        <section>
            <form>
                <label for="input-text">Input:</label>
                <textarea id="input-text" rows="5" placeholder="Enter your input here..."></textarea>
                <!-- insert thema api in input field??-->

                <label for="preview"></label>
                <div class="preview">Preview</div>
            </form>
        </section>
    </main>

    <%- include('./partials/background-decoration'); %>



<script src="./scripts/preview.js"></script>

</body>

</html>
