<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <script src="https://inputtools.google.com/js/ime.js"></script>
</head>

<body id="generate">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <section id="type">
            <h2>Choose a type</h2>
            <ul>
                <li>
                    <% data.forEach((type) => { %>
                        <li><%= type %></li>
                <% }); %>
            </li>
            </ul>
        </section>

        <section>
            <form action="/loading">
                <h2>Make your own poem</h2>
                <label for="input-text">Choose a theme</label>
                <textarea id="input-text" rows="8" placeholder="Enter your input here..."></textarea>
                <button type="submit">Generate</button>
            </form>

            <div class="preview">Preview
            </div>
        </section>
    </main>

    <%- include('./partials/background-decoration'); %>


    <!-- <script>
        var ime;
        function onApiLoad() {
          ime = new google.inputmethod.InputMethodManager();
        }
        function openKeyboard() {
          ime.showInputView(document.getElementById('myTextarea'));
        }
    
        var textarea = document.getElementById("myTextarea");
        textarea.addEventListener("click", function() {
          openKeyboard();
        });
      </script> -->

<script src="./scripts/preview.js"></script>
<script src="./scripts/keyboard.js"></script>


</body>

</html>
