<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="generate">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>

        <section>
            <ul>
                <li>
                    <!-- insert api types -->
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>

        <section>
            <form>
                <label for="input-text">Thema</label>
                <textarea id="input-text" rows="5" placeholder="Enter your input here..."></textarea>
                <!-- insert thema api in input field??-->
            </form>

            <div class="preview">Preview:</div>

        </section>

        </fieldset>
    </main>
</body>
<script src="./scripts/script.js"></script>

</html>