<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="start">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>

        <section id="type">
            <ul>
                <li>
                    <!-- insert api types -->
                </li>
            </ul>
        </section>

        <section>
            <form>
                <label for="input-text">Input:</label>
                <textarea id="input-text" rows="5" placeholder="Enter your input here..."></textarea>
                <!-- insert thema api in input field??-->


                <div class="preview">Preview:</div>
            </form>
        </section>

        <%- include('./partials/loading'); %>
        </fieldset>
    </main>
</body>
<script src="./scripts/script.js"></script>

</html>