<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <p><a class="link" href="/views/poems.ejs"></a></p>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>