<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="start">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <p><a class="link" href="/poems"></a></p>
    </main>

    <%- include('./partials/background-decoration'); %>
</body>
<script src="./scripts/script.js"></script>
</html>