<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="start">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main id="loading-main">
        <ul id="loading">
            <li>L</li>
            <li>O</li>
            <li>a</li>
            <li>D</li>
            <li>I</li>
            <li>n</li>
            <li>G</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
        </ul>

    </main>

    <%- include('./partials/background-decoration'); %>
</body>


</html>