<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="start">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main id="loading-main">
        <ul id="loading">
            <li>G</li>
            <li>E</li>
            <li>N</li>
            <li>E</li>
            <li>R</li>
            <li>A</li>
            <li>T</li>
            <li>E</li>
        </ul>

    </main>

    <%- include('./partials/background-decoration'); %>
</body>


</html>