<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="offline">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
            <h1> You are currently offline, please check your settings. 
            </h1>
    </main>
</body>
</html>