<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="offline">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <p>You are offline</p>
    </main>
</body>
</html>