<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="poems-page">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <h2>All Your poems</h2>

        <section>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

<%- include('./partials/background-decoration'); %>

</body>

</html>