<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>

        <section id="fill-prompt">
            <form action="/poems">
                <fieldset>
                    <h2>Maak je eigen gedichten</h2>

                    <fieldset>
                        <legend>Kies je eigen thema</legend>
                        <ul>
                            <li><label for=""><input type="radio" name="" id=""> Limericks</label></li>
                        </ul>
                    </fieldset>


                    <fieldset>

                    </fieldset>

                    
                </fieldset>
            </form>
        </section>











    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

<div class="background-decoration-1">
    <figure></figure>
    <figure></figure>
    <figure></figure>
</div>

<div class="background-decoration-2">
    <figure></figure>
    <figure></figure>
    <figure></figure>
</div>

<div class="background-decoration-3">
    <figure></figure>
    <figure></figure>
</div>





</body>

</html>