* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*color palette*/

    --coral-deeppink: #ff4a61;
    --orange-yellow: #feb63d;
    --light-grey: #e2e2e2;
    --black: #000000;

    --title: 'Commissioner', Arial,
        Helvetica,
        sans-serif;
    --text: 'Commissioner', Arial,
        Helvetica,
        sans-serif;

        --text-color: #2b3044;
        --font-size: 16px;
        --duration: 2.5s;
        --duration-line: 0.84s;
}

body {
    font-family: var(--text);
    position: relative;
    min-height: 100vh;
    background-color: var(--light-grey);
}

#start main{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--title);
    font-weight: 500;
}

p {
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/**********/
/* HEADER */
/**********/
header nav {
    display: flex;
    align-items: center;
}

header nav img {
    width: 20%;
}

header ul li:first-of-type {
    width: fit-content;
}

header nav p {
    font-weight: 500;
    font-size: clamp(3em, 2vw, 8em);
}

/**********************/
/* DECORATION GROUP 1 */
/**********************/
.background-decoration-1 {
    z-index: -1;
    border-radius: 3em;
    position: absolute;
    top: 3em;
    right: 0;


}

.background-decoration-1 figure {
    /* background-color: #feb63d; */
    border-radius: 4em;
    width: 7em;
    height: 3em;
}

.background-decoration-1 figure:nth-of-type(1) {
    background-color: var(--light-grey);
    border: 3px solid var(--orange-yellow);
}

.background-decoration-1 figure:nth-of-type(2) {
    background-color: var(--orange-yellow);
    height: 1.5em;
    width: 9em;
}

.background-decoration-1 figure:nth-of-type(3) {
    background-color: var(--coral-deeppink);
    width: 7em;
    height: 3em;
}

/*********************************/
/* BACHGROUND-DECORATION GROUP 2 */
/*********************************/
.background-decoration-2 {
    z-index: -1;
    border-radius: 3em;
    position: absolute;
    bottom: 2em;
    right: 0;

}

.background-decoration-2 figure {
    /* background-color: #feb63d; */
    border-radius: 4em;
    width: 7em;
    height: 3em;
}

.background-decoration-2 figure:nth-of-type(1) {
    background-color: var(--coral-deeppink);
    width: 10em;
}

.background-decoration-2 figure:nth-of-type(2) {
    background-color: var(--orange-yellow);
    height: 1.5em;
    width: 5em;
}

.background-decoration-2 figure:nth-of-type(3) {
    background-color: var(--light-grey);
    border: 3px solid var(--coral-deeppink);
    width: 12em;

}

/**********************/
/* DECORATION GROUP 3 */
/**********************/
.background-decoration-3 {
    z-index: -1;
    border-radius: 3em;
    position: absolute;
    bottom: 2em;
    left: 0;

}

.background-decoration-3 figure {
    /* background-color: #feb63d; */
    border-radius: 4em;
    width: 7em;
    height: 3em;
}

.background-decoration-3 figure:nth-of-type(1) {
    background-color: var(--coral-deeppink);
    width: 6em;
}


.background-decoration-3 figure:nth-of-type(2) {
    border: 3px solid var(--black);
    width: 12em;
}


@media (max-width: 30em) {

    .background-decoration-1,
    .background-decoration-2,
    .background-decoration-3 {
        display: none;
    }
}

/********/
/* MAIN */
/********/




#start main p {
    font-size: 18px;
    margin: 0;
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: var(--font-size);
    zoom: 1.5;
}


#start main p .link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

#start main p .link div:first-child {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-size) 0 var(--text-color);
}

#start main p .link div:last-child {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 300%;
    height: 5px;
    transform: translateY(var(--line-x)) translateZ(0);
    transition: transform var(--line-d, 0s);
}

#start main p .link div span {
    display: inline-block;
    backface-visibility: hidden;
    font-style: normal;
    animation: moveText var(--duration) ease infinite;
    transform: translateY(var(--m, 0));
}

@keyframes moveText {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(calc(var(--font-size) * -1));
    }

    100% {
        transform: translateY(0);
    }
}

#start main p .link div span:nth-child(1) {
    transition-delay: 0s;
}

#start main p .link div span:nth-child(2) {
    transition-delay: 0.05s;
}

#start main p .link div span:nth-child(3) {
    transition-delay: 0.1s;
}

#start main p .link div span:nth-child(4) {
    transition-delay: 0.15s;
}

#start main p .link div span:nth-child(5) {
    transition-delay: 0.2s;
}

#start main p .link div span:nth-child(6) {
    transition-delay: 0.25s;
}

#start main p .link div span:nth-child(7) {
    transition-delay: 0.3s;
}

#start main p .link div span:nth-child(8) {
    transition-delay: 0.35s;
}

#start main p .link div span:nth-child(9) {
    transition-delay: 0.4s;
}

#start main p .link div span:nth-child(10) {
    transition-delay: 0.45s;
}

#start main p .link div span:nth-child(11) {
    transition-delay: 0.5s;
}

#start main p .link:hover span {
    transform: translateY(calc(var(--font-size) * -1));
}